.fa.fa-signal {
  font-size: 24px;
  line-height: 0;
}

.fas.fa-inbox {
  font-size: 18px;
  line-height: 0;
}

.navbar-dark .navbar-nav .nav-item.a .nav-link {
  font-size: 15px;
  padding: 5px;
  font-family: Allerta, sans-serif;
}

body, html {
  cursor: url(http://bringerp.free.fr/Files/RotMG/cursor.gif),pointer;
  height: 80%;
}

body {
  padding-top: 73px;
}

.container.left .up {
  text-align: center;
  font-family: Amaranth, sans-serif;
  color: rgb(248,0,0);
}

.container.left .down {
  text-align: center;
  font-family: Amaranth, sans-serif;
  color: rgb(0,41,255);
  font-size: 22px;
  padding-right: 40px;
  padding-left: 40px;
}

.container.left .down:hover {
  text-align: center;
  font-family: Amaranth, sans-serif;
  color: rgb(0,0,0);
  font-size: 22px;
  padding-right: 40px;
  padding-left: 40px;
}

.container.left .ic {
  text-align: center;
}

.fa.fa-fire {
  font-size: 27px;
  color: rgb(0,0,0);
}

.coding {
  text-align: center;
}

.container .rounded.img-fluid {
  border: groove;
  width: 238px;
  height: 516px;
}

.upper .right {
  text-align: center;
}

.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
  margin-left: -58px;
}

.enwe {
  font-size: 25px;
  text-align: center;
  color: rgb(143,2,255);
  margin-top: -31px;
}

.row.skill {
  margin-top: 8px;
  color: rgb(0,0,0);
  opacity: 0.86;
  background-color: #000!important;
  color: white;
  padding: 12px;
}

.myskill {
  text-align: center;
}

.html {
  text-align: center;
}

.row.no-gutters.skilllower {
  margin: 69px;
}

.display-4.text-body.html {
  font-size: 24px;
  font-weight: bold;
}

.skilllower .img-fluid {
  padding: 0px;
  padding-right: 0px;
  font-size: 13px;
  opacity: 0.84;
  filter: blur(0px) brightness(94%);
  text-align: center;
}

.c {
  text-align: center;
}

.resume {
  background-color: blue;
}

